<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.sample.barcode">

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/compal"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name="com.sample.activities.BarcodeActivity"
            android:configChanges="orientation|screenSize"
            android:parentActivityName="com.sample.activities.MainActivity" />
        <activity
            android:name="com.sample.activities.ScanBarCodeActivity"
            android:parentActivityName="com.sample.activities.BarcodeActivity" />
        <activity android:name="com.sample.activities.MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sample.list.ListDataActivity"
            android:parentActivityName="com.sample.activities.MainActivity" />
        <activity android:name="com.sample.activities.ConfigActivity"
            android:parentActivityName="com.sample.activities.ScanBarCodeActivity"/>
    </application>

</manifest>
